@import "tailwindcss";
.pokemon-card-3d:hover {
  transform: rotateX(6deg) rotateY(-6deg) scale(1.05);
}
.pokemon-title {
  font-family: 'Pokemon Solid', sans-serif;
  color: #FFCB05; /* amarelo Pokémon */
  -webkit-text-stroke: 3px #2A75BB; /* contorno azul Pokémon */
  text-shadow: 2px 2px 0 #2A75BB;
  letter-spacing: 2px;
}
.arc-text {
  display: inline-block;
  position: relative;
}

.arc-text span {
  display: inline-block;
  transform-origin: bottom center;
  padding: 0 2px;
}

/* Curvatura suave estilo meia lua */
.arc-text span:nth-child(1) { transform: rotate(-20deg); }
.arc-text span:nth-child(2) { transform: rotate(-12deg); }
.arc-text span:nth-child(3) { transform: rotate(-5deg); }
.arc-text span:nth-child(4) { transform: rotate(0deg); }
.arc-text span:nth-child(5) { transform: rotate(5deg); }
.arc-text span:nth-child(6) { transform: rotate(12deg); }
.arc-text span:nth-child(7) { transform: rotate(20deg); }

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
